@model IEnumerable<MVCD4.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@using (Html.BeginForm("Search", "D3MVC"))
{
    <div>
        <label>Search by :</label>
        @Html.RadioButton("searchBut", "FirstName", true) First Name
        @Html.RadioButton("searchBut", "LastName") Last Name
        @Html.RadioButton("searchBut", "E_mail") E-mail


        @Html.TextBox("search", "", new { @class = "form-control visible-lg-inline-block" })
        <input type="submit" name="name" value="Search" class="btn btn-primary" />
    </div>
    <br />
}
@*@using (Html.BeginForm("index", "Employees", FormMethod.Get))
{
    @Html.TextBox("search")
    <input type="submit" value="Search" />
}*@

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
        <th>
            Password
        </th>
        <th>
            Status
        </th>
        <th>
            Roles
        </th>
        <th>
            Gender
        </th>
        <th></th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="7">No Data Found</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
                </td>
            </tr>
       }
    }

</table>
