@model D5MVC.Models.OrderDa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerMVC.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerMVC.First_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
